# Qt build forlders
build-*
src/build-*
src/*.o
src/moc*
src/ui_*.h
src/VSS-VISION
src/VSS-VISION.pro.user
src/Makefile
src/\.qmake\.stash
src/moc_mainwindow\.cpp
src/ui_mainwindow\.h
src/VSSL\.app/Contents/Info\.plist
src/VSSL\.app/Contents/MacOS/VSSL
src/VSSL\.app/Contents/PkgInfo
src/VSSL\.app/Contents/Resources/empty\.lproj
src/Utils/dest.txt
\.DS_Store
*avi
src/Network/SslClient

#All logging files (including rotative)
src/Log/*

#Only executions logs
#src/Log/vision/executions/*
#src/Log/strategy/executions/*
#src/Log/others/executions/*
#src/Log/general/executions/*

src/qrc_image.cpp
src/qrc_icontools.cpp

# RCClient
client/RCClient

# Visual Studio Code
*.vscode/


# Python Cache
*__pycache__/
